body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1920px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u2154_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2154 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
}

#u2155 {
    position: absolute;
    left: 2px;
    top: 532px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2156_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2156 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
}

#u2157 {
    position: absolute;
    left: 2px;
    top: 37px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2158_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 212px;
    height: 990px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2158 {
    position: absolute;
    left: 0px;
    top: 90px;
    width: 212px;
    height: 990px;
}

#u2159 {
    position: absolute;
    left: 2px;
    top: 487px;
    width: 208px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2160_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u2160 {
    position: absolute;
    left: 80px;
    top: 25px;
    width: 113px;
    height: 40px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u2161 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    white-space: nowrap;
}

#u2162_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 52px;
    height: 52px;
}

#u2162 {
    position: absolute;
    left: 16px;
    top: 20px;
    width: 52px;
    height: 52px;
}

#u2163 {
    position: absolute;
    left: 2px;
    top: 18px;
    width: 48px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2164_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2164 {
    position: absolute;
    left: 72px;
    top: 976px;
    width: 41px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2165 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u2166_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
}

#u2166 {
    position: absolute;
    left: 81px;
    top: 942px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

#u2167 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2168_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2168 {
    position: absolute;
    left: 33px;
    top: 173px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2169 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2170_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2170 {
    position: absolute;
    left: 77px;
    top: 172px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2171 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2172_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 25px;
}

#u2172 {
    position: absolute;
    left: 35px;
    top: 226px;
    width: 24px;
    height: 25px;
    opacity: 0.8;
}

#u2173 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2174_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2174 {
    position: absolute;
    left: 77px;
    top: 225px;
    width: 93px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2175 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u2176_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2176 {
    position: absolute;
    left: 35px;
    top: 276px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2177 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2178_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2178 {
    position: absolute;
    left: 77px;
    top: 274px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2179 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2180_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 26px;
    height: 25px;
}

#u2180 {
    position: absolute;
    left: 35px;
    top: 328px;
    width: 26px;
    height: 25px;
    opacity: 0.8;
}

#u2181 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 22px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2182_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2182 {
    position: absolute;
    left: 36px;
    top: 378px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2183 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2184_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2184 {
    position: absolute;
    left: 77px;
    top: 330px;
    width: 70px;
    height: 23px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2185 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    white-space: nowrap;
}

#u2186_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2186 {
    position: absolute;
    left: 77px;
    top: 379px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2187 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2188_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 16px;
}

#u2188 {
    position: absolute;
    left: 87px;
    top: 119px;
    width: 30px;
    height: 16px;
    opacity: 0.8;
}

#u2189 {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 26px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2190_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #5E5E5E;
}

#u2190 {
    position: absolute;
    left: 1820px;
    top: 33px;
    width: 73px;
    height: 25px;
    font-size: 18px;
    color: #5E5E5E;
}

#u2191 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    white-space: nowrap;
}

#u2192_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2192 {
    position: absolute;
    left: 1785px;
    top: 32px;
    width: 25px;
    height: 25px;
}

#u2193 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2194_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1688px;
    height: 40px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2194 {
    position: absolute;
    left: 222px;
    top: 101px;
    width: 1688px;
    height: 40px;
}

#u2195 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 1684px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2196_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    height: 25px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2196 {
    position: absolute;
    left: 229px;
    top: 109px;
    width: 6px;
    height: 25px;
}

#u2197 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2198_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u2198 {
    position: absolute;
    left: 246px;
    top: 108px;
    width: 81px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u2199 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}
