body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1920px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u2105_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2105 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
}

#u2106 {
    position: absolute;
    left: 2px;
    top: 532px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2107_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2107 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
}

#u2108 {
    position: absolute;
    left: 2px;
    top: 37px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2109_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 212px;
    height: 990px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2109 {
    position: absolute;
    left: 0px;
    top: 90px;
    width: 212px;
    height: 990px;
}

#u2110 {
    position: absolute;
    left: 2px;
    top: 487px;
    width: 208px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2111_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u2111 {
    position: absolute;
    left: 80px;
    top: 25px;
    width: 113px;
    height: 40px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u2112 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    white-space: nowrap;
}

#u2113_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 52px;
    height: 52px;
}

#u2113 {
    position: absolute;
    left: 16px;
    top: 20px;
    width: 52px;
    height: 52px;
}

#u2114 {
    position: absolute;
    left: 2px;
    top: 18px;
    width: 48px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2115_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2115 {
    position: absolute;
    left: 72px;
    top: 976px;
    width: 41px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2116 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u2117_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
}

#u2117 {
    position: absolute;
    left: 81px;
    top: 942px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

#u2118 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2119_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2119 {
    position: absolute;
    left: 33px;
    top: 173px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2120 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2121_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2121 {
    position: absolute;
    left: 77px;
    top: 172px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2122 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2123_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 25px;
}

#u2123 {
    position: absolute;
    left: 35px;
    top: 226px;
    width: 24px;
    height: 25px;
    opacity: 0.8;
}

#u2124 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2125_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2125 {
    position: absolute;
    left: 77px;
    top: 225px;
    width: 93px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2126 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u2127_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2127 {
    position: absolute;
    left: 35px;
    top: 276px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2128 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2129_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2129 {
    position: absolute;
    left: 77px;
    top: 274px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2130 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2131_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 26px;
    height: 25px;
}

#u2131 {
    position: absolute;
    left: 35px;
    top: 328px;
    width: 26px;
    height: 25px;
    opacity: 0.8;
}

#u2132 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 22px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2133_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2133 {
    position: absolute;
    left: 36px;
    top: 378px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2134 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2135_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2135 {
    position: absolute;
    left: 77px;
    top: 330px;
    width: 70px;
    height: 23px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2136 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    white-space: nowrap;
}

#u2137_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2137 {
    position: absolute;
    left: 77px;
    top: 379px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2138 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2139_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 16px;
}

#u2139 {
    position: absolute;
    left: 87px;
    top: 119px;
    width: 30px;
    height: 16px;
    opacity: 0.8;
}

#u2140 {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 26px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2141_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #5E5E5E;
}

#u2141 {
    position: absolute;
    left: 1820px;
    top: 33px;
    width: 73px;
    height: 25px;
    font-size: 18px;
    color: #5E5E5E;
}

#u2142 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    white-space: nowrap;
}

#u2143_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2143 {
    position: absolute;
    left: 1785px;
    top: 32px;
    width: 25px;
    height: 25px;
}

#u2144 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2145_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1688px;
    height: 40px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2145 {
    position: absolute;
    left: 222px;
    top: 101px;
    width: 1688px;
    height: 40px;
}

#u2146 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 1684px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2147_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    height: 25px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2147 {
    position: absolute;
    left: 229px;
    top: 109px;
    width: 6px;
    height: 25px;
}

#u2148 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2149_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u2149 {
    position: absolute;
    left: 246px;
    top: 108px;
    width: 81px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u2150 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2151_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 212px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2151 {
    position: absolute;
    left: 0px;
    top: 369px;
    width: 212px;
    height: 44px;
    opacity: 0.1;
}

#u2152 {
    position: absolute;
    left: 2px;
    top: 14px;
    width: 208px;
    visibility: hidden;
    word-wrap: break-word;
}
