body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1920px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u2201_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2201 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
}

#u2202 {
    position: absolute;
    left: 2px;
    top: 532px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2203_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2203 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
}

#u2204 {
    position: absolute;
    left: 2px;
    top: 37px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2205_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 212px;
    height: 990px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2205 {
    position: absolute;
    left: 0px;
    top: 90px;
    width: 212px;
    height: 990px;
}

#u2206 {
    position: absolute;
    left: 2px;
    top: 487px;
    width: 208px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2207_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u2207 {
    position: absolute;
    left: 80px;
    top: 25px;
    width: 113px;
    height: 40px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u2208 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    white-space: nowrap;
}

#u2209_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 52px;
    height: 52px;
}

#u2209 {
    position: absolute;
    left: 16px;
    top: 20px;
    width: 52px;
    height: 52px;
}

#u2210 {
    position: absolute;
    left: 2px;
    top: 18px;
    width: 48px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2211_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2211 {
    position: absolute;
    left: 72px;
    top: 976px;
    width: 41px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2212 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u2213_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
}

#u2213 {
    position: absolute;
    left: 81px;
    top: 942px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

#u2214 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2215_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2215 {
    position: absolute;
    left: 33px;
    top: 173px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2216 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2217_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2217 {
    position: absolute;
    left: 77px;
    top: 172px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2218 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2219_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 25px;
}

#u2219 {
    position: absolute;
    left: 35px;
    top: 226px;
    width: 24px;
    height: 25px;
    opacity: 0.8;
}

#u2220 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2221_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2221 {
    position: absolute;
    left: 77px;
    top: 225px;
    width: 93px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2222 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u2223_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2223 {
    position: absolute;
    left: 35px;
    top: 276px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2224 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2225_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2225 {
    position: absolute;
    left: 77px;
    top: 274px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2226 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2227_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 26px;
    height: 25px;
}

#u2227 {
    position: absolute;
    left: 35px;
    top: 328px;
    width: 26px;
    height: 25px;
    opacity: 0.8;
}

#u2228 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 22px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2229_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2229 {
    position: absolute;
    left: 36px;
    top: 378px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u2230 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2231_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2231 {
    position: absolute;
    left: 77px;
    top: 330px;
    width: 70px;
    height: 23px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2232 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    white-space: nowrap;
}

#u2233_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u2233 {
    position: absolute;
    left: 77px;
    top: 379px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u2234 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u2235_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 16px;
}

#u2235 {
    position: absolute;
    left: 87px;
    top: 119px;
    width: 30px;
    height: 16px;
    opacity: 0.8;
}

#u2236 {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 26px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2237_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #5E5E5E;
}

#u2237 {
    position: absolute;
    left: 1820px;
    top: 33px;
    width: 73px;
    height: 25px;
    font-size: 18px;
    color: #5E5E5E;
}

#u2238 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    white-space: nowrap;
}

#u2239_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u2239 {
    position: absolute;
    left: 1785px;
    top: 32px;
    width: 25px;
    height: 25px;
}

#u2240 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2241_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1688px;
    height: 40px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2241 {
    position: absolute;
    left: 222px;
    top: 101px;
    width: 1688px;
    height: 40px;
}

#u2242 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 1684px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2243_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    height: 25px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2243 {
    position: absolute;
    left: 229px;
    top: 109px;
    width: 6px;
    height: 25px;
}

#u2244 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2245_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u2245 {
    position: absolute;
    left: 246px;
    top: 108px;
    width: 81px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u2246 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}
