body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1920px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u1863_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1863 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
}

#u1864 {
    position: absolute;
    left: 2px;
    top: 532px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1865_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1865 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 90px;
}

#u1866 {
    position: absolute;
    left: 2px;
    top: 37px;
    width: 1916px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1867_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 212px;
    height: 990px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1867 {
    position: absolute;
    left: 0px;
    top: 90px;
    width: 212px;
    height: 990px;
}

#u1868 {
    position: absolute;
    left: 2px;
    top: 487px;
    width: 208px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1869_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u1869 {
    position: absolute;
    left: 80px;
    top: 25px;
    width: 113px;
    height: 40px;
    font-family: 'Arial-BoldMT', 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}

#u1870 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 113px;
    white-space: nowrap;
}

#u1871_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 52px;
    height: 52px;
}

#u1871 {
    position: absolute;
    left: 16px;
    top: 20px;
    width: 52px;
    height: 52px;
}

#u1872 {
    position: absolute;
    left: 2px;
    top: 18px;
    width: 48px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1873_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u1873 {
    position: absolute;
    left: 72px;
    top: 976px;
    width: 41px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u1874 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u1875_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
}

#u1875 {
    position: absolute;
    left: 81px;
    top: 942px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

#u1876 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1877_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u1877 {
    position: absolute;
    left: 33px;
    top: 173px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u1878 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1879_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u1879 {
    position: absolute;
    left: 77px;
    top: 172px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u1880 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u1881_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 25px;
}

#u1881 {
    position: absolute;
    left: 35px;
    top: 226px;
    width: 24px;
    height: 25px;
    opacity: 0.8;
}

#u1882 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 20px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1883_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u1883 {
    position: absolute;
    left: 77px;
    top: 225px;
    width: 93px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u1884 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u1885_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u1885 {
    position: absolute;
    left: 35px;
    top: 276px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u1886 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1887_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u1887 {
    position: absolute;
    left: 77px;
    top: 274px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u1888 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u1889_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 26px;
    height: 25px;
}

#u1889 {
    position: absolute;
    left: 35px;
    top: 328px;
    width: 26px;
    height: 25px;
    opacity: 0.8;
}

#u1890 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 22px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1891_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u1891 {
    position: absolute;
    left: 36px;
    top: 378px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

#u1892 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1893_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    height: 23px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u1893 {
    position: absolute;
    left: 77px;
    top: 330px;
    width: 70px;
    height: 23px;
    font-size: 20px;
    color: #5E5E5E;
}

#u1894 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    white-space: nowrap;
}

#u1895_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #5E5E5E;
}

#u1895 {
    position: absolute;
    left: 77px;
    top: 379px;
    width: 81px;
    height: 28px;
    font-size: 20px;
    color: #5E5E5E;
}

#u1896 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u1897_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 16px;
}

#u1897 {
    position: absolute;
    left: 87px;
    top: 119px;
    width: 30px;
    height: 16px;
    opacity: 0.8;
}

#u1898 {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 26px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1899_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    height: 25px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    color: #5E5E5E;
}

#u1899 {
    position: absolute;
    left: 1820px;
    top: 33px;
    width: 73px;
    height: 25px;
    font-size: 18px;
    color: #5E5E5E;
}

#u1900 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 73px;
    white-space: nowrap;
}

#u1901_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
}

#u1901 {
    position: absolute;
    left: 1785px;
    top: 32px;
    width: 25px;
    height: 25px;
}

#u1902 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 21px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1903_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1688px;
    height: 40px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1903 {
    position: absolute;
    left: 222px;
    top: 101px;
    width: 1688px;
    height: 40px;
}

#u1904 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 1684px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1905_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    height: 25px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1905 {
    position: absolute;
    left: 229px;
    top: 109px;
    width: 6px;
    height: 25px;
}

#u1906 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 2px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1907_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 102px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u1907 {
    position: absolute;
    left: 246px;
    top: 108px;
    width: 102px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u1908 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 102px;
    white-space: nowrap;
}

#u1909_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 212px;
    height: 44px;
    background: inherit;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1909 {
    position: absolute;
    left: 0px;
    top: 216px;
    width: 212px;
    height: 44px;
    opacity: 0.1;
}

#u1910 {
    position: absolute;
    left: 2px;
    top: 14px;
    width: 208px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1911_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1688px;
    height: 910px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1911 {
    position: absolute;
    left: 222px;
    top: 155px;
    width: 1688px;
    height: 910px;
}

#u1912 {
    position: absolute;
    left: 2px;
    top: 447px;
    width: 1684px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1913_img {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 178px;
    height: 25px;
}

#u1913 {
    position: absolute;
    left: 557px;
    top: 257px;
    width: 158px;
    height: 5px;
}

#u1914 {
    position: absolute;
    left: 2px;
    top: -6px;
    width: 154px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1915_img {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 121px;
    height: 121px;
}

#u1915 {
    position: absolute;
    left: 422px;
    top: 203px;
    width: 111px;
    height: 111px;
}

#u1916 {
    position: absolute;
    left: 2px;
    top: 48px;
    width: 107px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1917_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u1917 {
    position: absolute;
    left: 437px;
    top: 245px;
    width: 81px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u1918 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u1919_img {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 10px;
    height: 478px;
}

#u1919 {
    position: absolute;
    left: 629px;
    top: 260px;
    width: 5px;
    height: 473px;
}

#u1920 {
    position: absolute;
    left: 2px;
    top: 228px;
    width: 1px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1921_img {
    position: absolute;
    left: -2px;
    top: -10px;
    width: 98px;
    height: 25px;
}

#u1921 {
    position: absolute;
    left: 630px;
    top: 379px;
    width: 86px;
    height: 5px;
}

#u1922 {
    position: absolute;
    left: 2px;
    top: -6px;
    width: 82px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1923_img {
    position: absolute;
    left: -2px;
    top: -10px;
    width: 98px;
    height: 25px;
}

#u1923 {
    position: absolute;
    left: 630px;
    top: 493px;
    width: 86px;
    height: 5px;
}

#u1924 {
    position: absolute;
    left: 2px;
    top: -6px;
    width: 82px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1925_img {
    position: absolute;
    left: -2px;
    top: -10px;
    width: 98px;
    height: 25px;
}

#u1925 {
    position: absolute;
    left: 630px;
    top: 612px;
    width: 86px;
    height: 5px;
}

#u1926 {
    position: absolute;
    left: 2px;
    top: -6px;
    width: 82px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1927_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 72px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#u1927 {
    position: absolute;
    left: 762px;
    top: 224px;
    width: 130px;
    height: 72px;
}

#u1928 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1929_img {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 82px;
    height: 82px;
}

#u1929 {
    position: absolute;
    left: 724px;
    top: 224px;
    width: 72px;
    height: 72px;
}

#u1930 {
    position: absolute;
    left: 2px;
    top: 28px;
    width: 68px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1931_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1931 {
    position: absolute;
    left: 738px;
    top: 249px;
    width: 45px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1932 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    white-space: nowrap;
}

#u1933_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u1933 {
    position: absolute;
    left: 830px;
    top: 246px;
    width: 28px;
    height: 28px;
}

#u1934 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 24px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1935_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 89px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1935 {
    position: absolute;
    left: 769px;
    top: 192px;
    width: 89px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1936 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 89px;
    white-space: nowrap;
}

#u1937_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 72px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#u1937 {
    position: absolute;
    left: 762px;
    top: 347px;
    width: 130px;
    height: 72px;
}

#u1938 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1939_img {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 82px;
    height: 82px;
}

#u1939 {
    position: absolute;
    left: 724px;
    top: 347px;
    width: 72px;
    height: 72px;
}

#u1940 {
    position: absolute;
    left: 2px;
    top: 28px;
    width: 68px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1941_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1941 {
    position: absolute;
    left: 738px;
    top: 372px;
    width: 45px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1942 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    white-space: nowrap;
}

#u1943_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u1943 {
    position: absolute;
    left: 830px;
    top: 369px;
    width: 28px;
    height: 28px;
}

#u1944 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 24px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1945_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 89px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1945 {
    position: absolute;
    left: 769px;
    top: 315px;
    width: 89px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1946 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 89px;
    white-space: nowrap;
}

#u1947_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 72px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#u1947 {
    position: absolute;
    left: 762px;
    top: 462px;
    width: 130px;
    height: 72px;
}

#u1948 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1949_img {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 82px;
    height: 82px;
}

#u1949 {
    position: absolute;
    left: 724px;
    top: 462px;
    width: 72px;
    height: 72px;
}

#u1950 {
    position: absolute;
    left: 2px;
    top: 28px;
    width: 68px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1951_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1951 {
    position: absolute;
    left: 738px;
    top: 487px;
    width: 42px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1952 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    white-space: nowrap;
}

#u1953_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u1953 {
    position: absolute;
    left: 830px;
    top: 484px;
    width: 28px;
    height: 28px;
}

#u1954 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 24px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1955_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 89px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1955 {
    position: absolute;
    left: 769px;
    top: 430px;
    width: 89px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1956 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 89px;
    white-space: nowrap;
}

#u1957_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 72px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#u1957 {
    position: absolute;
    left: 1057px;
    top: 462px;
    width: 130px;
    height: 72px;
}

#u1958 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1959_img {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 82px;
    height: 82px;
}

#u1959 {
    position: absolute;
    left: 1019px;
    top: 462px;
    width: 72px;
    height: 72px;
}

#u1960 {
    position: absolute;
    left: 2px;
    top: 28px;
    width: 68px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1961_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C9C9C9;
}

#u1961 {
    position: absolute;
    left: 1033px;
    top: 487px;
    width: 45px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C9C9C9;
}

#u1962 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    white-space: nowrap;
}

#u1963_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u1963 {
    position: absolute;
    left: 1125px;
    top: 484px;
    width: 28px;
    height: 28px;
}

#u1964 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 24px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1965_img {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 106px;
    height: 25px;
}

#u1965 {
    position: absolute;
    left: 911px;
    top: 493px;
    width: 86px;
    height: 5px;
    font-size: 10px;
}

#u1966 {
    position: absolute;
    left: 2px;
    top: -6px;
    width: 82px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1967_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 461px;
    height: 102px;
}

#u1967 {
    position: absolute;
    left: 726px;
    top: 680px;
    width: 461px;
    height: 102px;
}

#u1968 {
    position: absolute;
    left: 2px;
    top: 43px;
    width: 457px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1969 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u1970_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u1970 {
    position: absolute;
    left: 902px;
    top: 717px;
    width: 28px;
    height: 28px;
}

#u1971 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 24px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1972_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1972 {
    position: absolute;
    left: 941px;
    top: 720px;
    width: 81px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1973 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 81px;
    white-space: nowrap;
}

#u1974_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 310px;
    height: 872px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1974 {
    position: absolute;
    left: 1584px;
    top: 173px;
    width: 310px;
    height: 872px;
}

#u1975 {
    position: absolute;
    left: 2px;
    top: 428px;
    width: 306px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1976_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 135px;
    height: 28px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u1976 {
    position: absolute;
    left: 1669px;
    top: 192px;
    width: 135px;
    height: 28px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #5E5E5E;
}

#u1977 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 135px;
    white-space: nowrap;
}

#u1978_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1978 {
    position: absolute;
    left: 1616px;
    top: 240px;
    width: 49px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1979 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 49px;
    white-space: nowrap;
}

#u1980_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 53px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1980 {
    position: absolute;
    left: 1616px;
    top: 284px;
    width: 53px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1981 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 53px;
    white-space: nowrap;
}

#u1982_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 53px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1982 {
    position: absolute;
    left: 1616px;
    top: 326px;
    width: 53px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1983 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 53px;
    white-space: nowrap;
}

#u1984_img {
    position: absolute;
    left: -2px;
    top: -10px;
    width: 98px;
    height: 25px;
}

#u1984 {
    position: absolute;
    left: 630px;
    top: 728px;
    width: 86px;
    height: 5px;
}

#u1985 {
    position: absolute;
    left: 2px;
    top: -6px;
    width: 82px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1986_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 72px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#u1986 {
    position: absolute;
    left: 762px;
    top: 579px;
    width: 130px;
    height: 72px;
}

#u1987 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1988_img {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 82px;
    height: 82px;
}

#u1988 {
    position: absolute;
    left: 724px;
    top: 579px;
    width: 72px;
    height: 72px;
}

#u1989 {
    position: absolute;
    left: 2px;
    top: 28px;
    width: 68px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1990_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1990 {
    position: absolute;
    left: 738px;
    top: 604px;
    width: 42px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1991 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    white-space: nowrap;
}

#u1992_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u1992 {
    position: absolute;
    left: 830px;
    top: 601px;
    width: 28px;
    height: 28px;
}

#u1993 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 24px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1994_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1994 {
    position: absolute;
    left: 769px;
    top: 547px;
    width: 121px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #5E5E5E;
}

#u1995 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 121px;
    white-space: nowrap;
}

#u1996_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 130px;
    height: 72px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#u1996 {
    position: absolute;
    left: 1057px;
    top: 579px;
    width: 130px;
    height: 72px;
}

#u1997 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 110px;
    visibility: hidden;
    word-wrap: break-word;
}

#u1998_img {
    position: absolute;
    left: -4px;
    top: -4px;
    width: 82px;
    height: 82px;
}

#u1998 {
    position: absolute;
    left: 1019px;
    top: 579px;
    width: 72px;
    height: 72px;
}

#u1999 {
    position: absolute;
    left: 2px;
    top: 28px;
    width: 68px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2000_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C9C9C9;
}

#u2000 {
    position: absolute;
    left: 1033px;
    top: 604px;
    width: 45px;
    height: 22px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #C9C9C9;
}

#u2001 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    white-space: nowrap;
}

#u2002_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 28px;
    height: 28px;
}

#u2002 {
    position: absolute;
    left: 1125px;
    top: 601px;
    width: 28px;
    height: 28px;
}

#u2003 {
    position: absolute;
    left: 2px;
    top: 6px;
    width: 24px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2004_img {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 106px;
    height: 25px;
}

#u2004 {
    position: absolute;
    left: 911px;
    top: 610px;
    width: 86px;
    height: 5px;
    font-size: 10px;
}

#u2005 {
    position: absolute;
    left: 2px;
    top: -6px;
    width: 82px;
    visibility: hidden;
    word-wrap: break-word;
}
